@model Model.ViewModels.LoginViewModel
@{
    ViewBag.title = "User Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container mx-auto">
        <div class="row">
            <div class="col-md-12">
                <section id="loginForm" class="card shadow-2-strong">
                    <form action="" class="card-body" method="post">
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>

                        <p>
                            @Html.ActionLink("new user?", "Register")
                        </p>
       
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="login" class="btn btn-info" />
                            </div>
                        </div>
                    </form>
                </section>


            </div>

        </div>
    </div>

